<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertWarningsToExceptions="true"
         forceCoversAnnotation="false"
         processIsolation="false"
         stopOnError="true"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         strict="false"
         verbose="false">

    <testsuites>
        <testsuite name="EXT:additional_reports">
            <file>typo3conf/ext/additional_reports/Tests/Unit/UtilTest.php</file>
            <file>typo3conf/ext/additional_reports/Tests/Unit/MainTest.php</file>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>typo3conf/ext/additional_reports/Classes</directory>
        </whitelist>
    </filter>

</phpunit>