<nav>
    <ul class="pagination pagination-lg">
        <f:if condition="{pagination.previousPageNumber} && {pagination.previousPageNumber} >= {pagination.firstPageNumber}">
            <f:then>
                <li class="page-item">
                    <a class="page-link" href="{f:be.uri(route:paginationRoute,parameters:{currentPage: 1,action:'detail',extension:'additional_reports',report:reportname,filtersCat:filtersCatParam})}">
                        &lt;&lt;
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="{f:be.uri(route:paginationRoute,parameters:{currentPage: pagination.previousPageNumber,action:'detail',extension:'additional_reports',report:reportname,filtersCat:filtersCatParam})}">
                        &lt;
                    </a>
                </li>
            </f:then>

        </f:if>
        <f:if condition="{pagination.hasLessPages}">
            <li class="page-item"><a class="page-link" href="#">…</a></li>
        </f:if>
        <f:for each="{pagination.allPageNumbers}" as="pageNumber">
            <f:if condition="{pageNumber} == {paginator.currentPageNumber}">
                <f:then>
                    <li class="page-item active"><a class="page-link" href="#">{pageNumber}</a></li>
                </f:then>
                <f:else>
                    <li class="page-item">
                        <a class="page-link" href="{f:be.uri(route:paginationRoute,parameters:{currentPage: pageNumber,action:'detail',extension:'additional_reports',report:reportname,filtersCat:filtersCatParam})}" title="{pageNumber}">
                            {pageNumber}
                        </a>
                    </li>
                </f:else>
            </f:if>
        </f:for>
        <f:if condition="{pagination.hasMorePages}">
            <li class="page-item"><a class="page-link" href="#">…</a></li>
        </f:if>
        <f:if condition="{pagination.nextPageNumber} && {pagination.nextPageNumber} <= {pagination.lastPageNumber}">
            <f:then>
                <li class="page-item">
                    <a class="page-link" href="{f:be.uri(route:paginationRoute,parameters:{currentPage: pagination.nextPageNumber,action:'detail',extension:'additional_reports',report:reportname,filtersCat:filtersCatParam})}">
                        &gt;
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="{f:be.uri(route:paginationRoute,parameters:{currentPage: pagination.lastPageNumber,action:'detail',extension:'additional_reports',report:reportname,filtersCat:filtersCatParam})}">
                        &gt;&gt;
                    </a>
                </li>
            </f:then>
        </f:if>
    </ul>
</nav>
