<!-- ###REPORTS_EID### - begin -->
<table cellspacing="1" cellpadding="2" border="0" class="tx_sv_reportlist typo3-dblist">
	<tr class="t3-row-header">
		<td colspan="4">###LLL:TITLE###</td>
	</tr>
	<tr class="c-headLine">
		<td class="cell">&nbsp;</td>
		<td class="cell">###LLL:EXTENSION###</td>
		<td class="cell">###LLL:NAME###</td>
		<td class="cell">###LLL:PATH###</td>
	</tr>
	<!-- ###REPORTS_EID_OBJECT### - begin -->
	<tr class="db_list_normal">
		<td class="col-icon"><img src="###ICONEXT###"/></td>
		<td class="cell">###EXTENSION###</td>
		<td class="cell">###NAME###</td>
		<td class="cell">###PATH###</td>
	</tr>
	<!-- ###REPORTS_EID_OBJECT### - end -->
</table>
<!-- ###REPORTS_EID### - end -->

<!-- ###REPORTS_EID_NORESULTS### - begin -->
<tr class="db_list_normal" colspan="4">
	<td class="cell">
		###NORESULTS###
	</td>
</tr>
<!-- ###REPORTS_EID_NORESULTS### - end -->