<!-- ###REPORTS_EXTENSIONS### - begin -->
<script type="text/javascript">
	Shadowbox.init({displayNav:true, displayCounter:false, overlayOpacity:0.8});
</script>

<table cellspacing="1" cellpadding="2" border="0" class="tx_sv_reportlist typo3-dblist">
	<tr class="t3-row-header">
		<td colspan="13">###LLL:TITLELOADED###</td>
	</tr>
	<tr class="c-headLine">
		<td class="cell">&nbsp;</td>
		<td class="cell" width="150" colspan="2">###LLL:EXTENSION###</td>
		<td class="cell" width="40" style="text-align:center;">###LLL:VERSION###</td>
		<td class="cell" width="40" style="text-align:center;">###LLL:VERSIONCHECK###</td>
		<td class="cell" width="40" style="text-align:center;">###LLL:VERSIONLAST###</td>
		<td class="cell" width="40" style="text-align:center;">###LLL:DOWNLOADS###</td>
		<td class="cell" colspan="2" style="text-align:center;">###LLL:TABLES###</td>
		<td class="cell" width="80" style="text-align:center;">###LLL:TABLESINTEGRITY###</td>
		<td class="cell" width="80" style="text-align:center;">###LLL:CONFINTEGRITY###</td>
		<td class="cell" colspan="2" style="text-align:center;">###LLL:FILES###</td>
	</tr>
	<!-- ###REPORTS_EXTENSIONS_OBJECT### - begin -->
	<tr class="db_list_normal">
		<td class="col-icon"><img src="###ICONEXT###"/></td>
		<td class="cell" align="center">###EXTENSION###</td>
		<td class="cell" align="center" width="30">###EXTENSIONLINK###</td>
		<td class="cell" align="center">###VERSION###</td>
		<td class="cell" align="center">###VERSIONCHECK###</td>
		<td class="cell" align="center">###VERSIONLAST###</td>
		<td class="cell" align="center">###DOWNLOADS###</td>
		<td class="cell" align="center">###TABLES###</td>
		<td class="cell" align="center" width="30">###TABLESLINK###</td>
		<td class="cell" align="center">###TABLESINTEGRITY###</td>
		<td class="cell" align="center">###CONFINTEGRITY###</td>
		<td class="cell" align="left">###FILES###</td>
		<td class="cell" align="center" width="30">###FILESLINK###</td>
	</tr>
	<!-- ###REPORTS_EXTENSIONS_OBJECT### - end -->
</table>
<table cellspacing="1" cellpadding="2" border="0" class="tx_sv_reportlist typo3-dblist">
	<tr class="t3-row-header">
		<td colspan="15">###LLL:TITLEDEV###</td>
	</tr>
	<tr class="c-headLine">
		<td class="cell">&nbsp;</td>
		<td class="cell" width="150" colspan="2">###LLL:EXTENSION###</td>
		<td class="cell" width="40" style="text-align:center;">###LLL:VERSION###</td>
		<td class="cell" colspan="2">###LLL:TABLES###</td>
		<td class="cell" width="80" style="text-align:center;">###LLL:TABLESINTEGRITY###</td>
	</tr>
	<!-- ###REPORTS_EXTENSIONS_OBJECTDEV### - begin -->
	<tr class="db_list_normal">
		<td class="col-icon"><img src="###ICONEXT###"/></td>
		<td class="cell" align="center">###EXTENSION###</td>
		<td class="cell" align="center" width="30">###EXTENSIONLINK###</td>
		<td class="cell" align="center">###VERSION###</td>
		<td class="cell" align="center">###TABLES###</td>
		<td class="cell" align="center" width="30">###TABLESLINK###</td>
		<td class="cell" align="center">###TABLESINTEGRITY###</td>
	</tr>
	<!-- ###REPORTS_EXTENSIONS_OBJECTDEV### - end -->
</table>
<table cellspacing="1" cellpadding="2" border="0" class="tx_sv_reportlist typo3-dblist">
	<tr class="t3-row-header">
		<td colspan="15">###LLL:TITLEULOADED###</td>
	</tr>
	<tr class="c-headLine">
		<td class="cell">&nbsp;</td>
		<td class="cell" width="150" colspan="2">###LLL:EXTENSION###</td>
		<td class="cell" width="40" style="text-align:center;">###LLL:VERSION###</td>
		<td class="cell" colspan="2">###LLL:TABLES###</td>
	</tr>
	<!-- ###REPORTS_EXTENSIONS_OBJECTUNLOADED### - begin -->
	<tr class="db_list_normal">
		<td class="col-icon"><img src="###ICONEXT###"/></td>
		<td class="cell" align="center">###EXTENSION###</td>
		<td class="cell" align="center" width="30">###EXTENSIONLINK###</td>
		<td class="cell" align="center">###VERSION###</td>
		<td class="cell" align="center">###TABLES###</td>
		<td class="cell" align="center" width="30">###TABLESLINK###</td>
	</tr>
	<!-- ###REPORTS_EXTENSIONS_OBJECTUNLOADED### - end -->
</table>
<!-- ###REPORTS_EXTENSIONS### - end -->

<!-- ###REPORTS_EXTENSIONS_NORESULTS### - begin -->
<tr class="db_list_normal" colspan="13">
	<td class="cell">
		###NORESULTS###
	</td>
</tr>
<!-- ###REPORTS_EXTENSIONS_NORESULTS### - end -->