<!-- ###REPORTS_HOOKS### - begin -->
<table cellspacing="1" cellpadding="2" border="0" class="tx_sv_reportlist typo3-dblist">
	<tr class="t3-row-header">
		<td colspan="3">###LLL:TITLE###</td>
	</tr>
	<tr class="c-headLine">
		<td class="cell">###LLL:COREFILE###</td>
		<td class="cell">###LLL:NAME###</td>
		<td class="cell">###LLL:FILE###</td>
	</tr>
	<!-- ###REPORTS_HOOKS_OBJECT### - begin -->
	<tr class="db_list_normal">
		<td class="cell">###COREFILE###</td>
		<td class="cell">###NAME###</td>
		<td class="cell">###FILE###</td>
	</tr>
	<!-- ###REPORTS_HOOKS_OBJECT### - end -->
</table>
<table cellspacing="1" cellpadding="2" border="0" class="tx_sv_reportlist typo3-dblist">
	<tr class="t3-row-header">
		<td colspan="2">###LLL:TITLEEXT###</td>
	</tr>
	<tr class="c-headLine">
		<td class="cell">###LLL:EXTENSION###</td>
		<td class="cell">###LLL:LINE###</td>
	</tr>
	<!-- ###REPORTS_HOOKS_OBJECTEXT### - begin -->
	<tr class="db_list_normal">
		<td class="cell">###EXTENSION###</td>
		<td class="cell">###LINE###</td>
	</tr>
	<!-- ###REPORTS_HOOKS_OBJECTEXT### - end -->
</table>
<!-- ###REPORTS_HOOKS### - end -->

<!-- ###REPORTS_HOOKS_NORESULTS### - begin -->
<tr class="db_list_normal" colspan="5">
	<td class="cell">
		###NORESULTS###
	</td>
</tr>
<!-- ###REPORTS_HOOKS_NORESULTS### - end -->