{namespace ar=Tx_AdditionalReports_ViewHelpers}

<ar:widget.paginate objects="{items}" as="paginatedItems" configuration="{itemsPerPage: 10, insertAbove: 1, insertBelow: 1, pagesAfter: 1, pagesBefore: 1, forceFirstPrevNextlast: 1}">
    <table cellspacing="1" cellpadding="2" border="0" class="tx_sv_reportlist typo3-dblist">
        <tr class="t3-row-header">
            <td colspan="8">
                <f:translate key="LLL:EXT:additional_reports/locallang.xml:logerrors_description"/>
            </td>
        </tr>
        <tr class="c-headLine">
            <td class="cell" width="100">
                <f:translate key="LLL:EXT:additional_reports/locallang.xml:counter"/>
                <ar:raw>{ordercounter}</ar:raw>
            </td>
            <td class="cell" width="100">
                <f:translate key="LLL:EXT:additional_reports/locallang.xml:tstamp"/>
                <ar:raw>{ordertstamp}</ar:raw>
            </td>
            <td class="cell">
                <f:translate key="LLL:EXT:additional_reports/locallang.xml:error"/>
            </td>
        </tr>
        <f:for each="{paginatedItems}" as="item">
            <tr class="db_list_normal">
                <td class="cell">{item.counter}</td>
                <td class="cell">{item.tstamp}</td>
                <td class="cell">{item.error}</td>
            </tr>
        </f:for>
    </table>
</ar:widget.paginate>