<!-- ###REPORTS_PLUGINS_MENU### - begin -->
###LLL:CAUTION###
<table>
	<tr>
		<td>
			<input onClick="jumpToUrl('###URL###&display=4');" style="margin-right:4px;" type="radio"
			       name="display" value="1" id="radio4"###CHECKEDPLUGINSMODE4###/>
			<label for="radio4" style="margin-right:10px;">###LLL:MODE4###</label>
		</td>
		<td>
			<input onClick="jumpToUrl('###URL###&display=6');" style="margin-right:4px;" type="radio"
			       name="display" value="1" id="radio6"###CHECKEDPLUGINSMODE6###/>
			<label for="radio6" style="margin-right:10px;">###LLL:MODE6###</label>
		</td>
	</tr>
	<tr>
		<td>
			<input onClick="jumpToUrl('###URL###&display=3');" style="margin-right:4px;" type="radio"
			       name="display" value="1" id="radio3"###CHECKEDPLUGINSMODE3###/>
			<label for="radio3" style="margin-right:10px;">###LLL:MODE3###</label>
		</td>
		<td>
			<input onClick="jumpToUrl('###URL###&display=7');" style="margin-right:4px;" type="radio"
			       name="display" value="1" id="radio7"###CHECKEDPLUGINSMODE7###/>
			<label for="radio7" style="margin-right:10px;">###LLL:MODE7###</label>
		</td>
	</tr>
	<tr>
		<td>
			<input onClick="jumpToUrl('###URL###&display=5');" style="margin-right:4px;" type="radio"
			       name="display" value="1" id="radio5"###CHECKEDPLUGINSMODE5###/>
			<label for="radio5" style="margin-right:10px;">###LLL:MODE5###</label>
		</td>
	</tr>
</table>
<div class="uppercase" style="margin-bottom:5px;"></div>
<!-- ###REPORTS_PLUGINS_MENU### - end -->

<!-- ###REPORTS_PLUGINS_USEDPLUGINS### - begin -->
###PAGEBROWSER###
<table cellspacing="1" cellpadding="2" border="0" class="tx_sv_reportlist typo3-dblist">
	<tr class="t3-row-header">
		<td colspan="15">###LLL:TITLE###</td>
	</tr>
	<tr class="c-headLine">
		<td class="cell">&nbsp;</td>
		<td class="cell">###LLL:EXTENSION###</td>
		<td class="cell">###LLL:PLUGIN###</td>
		<td class="cell">###LLL:DOMAIN###</td>
		<td class="cell">###LLL:PID###</td>
		<td class="cell">###LLL:UID###</td>
		<td class="cell">###LLL:PAGETITLE###</td>
		<td class="cell">DB mode</td>
		<td class="cell">###LLL:PAGE###</td>
		<!-- ###DISPLAY_USEDTV### -->
		<td class="cell">###LLL:USEDTV###</td>
		<!-- ###DISPLAY_USEDTV### -->
		<td class="cell">###LLL:PREVIEW###</td>
	</tr>
	<!-- ###REPORTS_PLUGINS_USEDPLUGINS_OBJECT### - begin -->
	<tr class="db_list_normal">
		<td class="col-icon"><img src="###ICONEXT###"/></td>
		<td class="cell">###EXTENSION###</td>
		<td class="cell">###PLUGIN###</td>
		<td class="cell">###DOMAIN###</td>
		<td class="cell">###PID###</td>
		<td class="cell">###UID###</td>
		<td class="cell">###PAGETITLE###</td>
		<td class="cell">###DB###</td>
		<td class="cell">###PAGE###</td>
		<!-- ###DISPLAY_USEDTV### -->
		<td class="cell">###USEDTV###</td>
		<!-- ###DISPLAY_USEDTV### -->
		<td class="cell">###PREVIEW###</td>
	</tr>
	<!-- ###REPORTS_PLUGINS_USEDPLUGINS_OBJECT### - end -->
</table>
<!-- ###REPORTS_PLUGINS_USEDPLUGINS### - end -->

<!-- ###REPORTS_PLUGINS_USEDCTYPES### - begin -->
###PAGEBROWSER###
<table cellspacing="1" cellpadding="2" border="0" class="tx_sv_reportlist typo3-dblist">
	<tr class="t3-row-header">
		<td colspan="15">###LLL:TITLE###</td>
	</tr>
	<tr class="c-headLine">
		<td class="cell">&nbsp;</td>
		<td class="cell">###LLL:CTYPE###</td>
		<td class="cell">###LLL:DOMAIN###</td>
		<td class="cell">###LLL:PID###</td>
		<td class="cell">###LLL:UID###</td>
		<td class="cell">###LLL:PAGETITLE###</td>
		<td class="cell">DB mode</td>
		<td class="cell">###LLL:PAGE###</td>
		<!-- ###DISPLAY_USEDTV### -->
		<td class="cell">###LLL:USEDTV###</td>
		<!-- ###DISPLAY_USEDTV### -->
		<td class="cell">###LLL:PREVIEW###</td>
	</tr>
	<!-- ###REPORTS_PLUGINS_USEDCTYPES_OBJECT### - begin -->
	<tr class="db_list_normal">
		<td class="col-icon"><img src="###ICONEXT###"/></td>
		<td class="cell">###CTYPE###</td>
		<td class="cell">###DOMAIN###</td>
		<td class="cell">###PID###</td>
		<td class="cell">###UID###</td>
		<td class="cell">###PAGETITLE###</td>
		<td class="cell">###DB###</td>
		<td class="cell">###PAGE###</td>
		<!-- ###DISPLAY_USEDTV### -->
		<td class="cell">###USEDTV###</td>
		<!-- ###DISPLAY_USEDTV### -->
		<td class="cell">###PREVIEW###</td>
	</tr>
	<!-- ###REPORTS_PLUGINS_USEDCTYPES_OBJECT### - end -->
</table>
<!-- ###REPORTS_PLUGINS_USEDCTYPES### - end -->

<!-- ###REPORTS_PLUGINS_SUMMARY### - begin -->
<table cellspacing="1" cellpadding="2" border="0" class="tx_sv_reportlist typo3-dblist">
	<tr class="t3-row-header">
		<td colspan="4">###LLL:TITLE###</td>
	</tr>
	<tr class="c-headLine">
		<td class="cell">&nbsp;</td>
		<td class="cell">###LLL:CONTENT###</td>
		<td class="cell">###LLL:REFERENCES###</td>
		<td class="cell">%</td>
	</tr>
	<!-- ###REPORTS_PLUGINS_SUMMARY_OBJECT### - begin -->
	<tr class="db_list_normal">
		<td class="col-icon"><img src="###ICONEXT###"/></td>
		<td class="cell">###CONTENT###</td>
		<td class="cell">###REFERENCES###</td>
		<td class="cell">###POURC###%</td>
	</tr>
	<!-- ###REPORTS_PLUGINS_SUMMARY_OBJECT### - end -->
</table>
<!-- ###REPORTS_PLUGINS_SUMMARY### - end -->

<!-- ###REPORTS_PLUGINS_NORESULTS### - begin -->
<tr class="db_list_normal" colspan="5">
	<td class="cell">
		###NORESULTS###
	</td>
</tr>
<!-- ###REPORTS_PLUGINS_NORESULTS### - end -->
