<!-- ###REPORTS_REALURLERRORS### - begin -->
###PAGEBROWSER###
<table cellspacing="1" cellpadding="2" border="0" class="tx_sv_reportlist typo3-dblist">
	<tr class="t3-row-header">
		<td colspan="8">###LLL:TITLE###</td>
	</tr>
	<tr class="c-headLine">
		<td class="cell">&nbsp;</td>
		<td class="cell">URL</td>
		<td class="cell">###LLL:ERROR###</td>
		<td class="cell">###LLL:COUNTER###</td>
		<td class="cell">###LLL:CRDATE###</td>
		<td class="cell">###LLL:TSTAMP###</td>
		<td class="cell">###LLL:LAST_REFERER###</td>
	</tr>
	<!-- ###REPORTS_REALURLERRORS_OBJECT### - begin -->
	<tr class="db_list_normal">
		<td class="cell">###FLUSH###</td>
		<td class="cell">###URL###</td>
		<td class="cell">###ERROR###</td>
		<td class="cell">###COUNTER###</td>
		<td class="cell">###CRDATE###</td>
		<td class="cell">###TSTAMP###</td>
		<td class="cell">###LAST_REFERER###</td>
	</tr>
	<!-- ###REPORTS_REALURLERRORS_OBJECT### - end -->
</table>
<!-- ###REPORTS_REALURLERRORS### - end -->

<!-- ###REPORTS_REALURLERRORS_NORESULTS### - begin -->
<tr class="db_list_normal" colspan="8">
	<td class="cell">
		###NORESULTS###
	</td>
</tr>
<!-- ###REPORTS_REALURLERRORS_NORESULTS### - end -->