<!-- ###REPORTS_STATUS### - begin -->
<h2 id="reportsTypo3" class="section-header expanded">TYPO3 :</h2>
<div>
	###TYPO3###
</div>
<h2 id="reportsPHP" class="section-header expanded">PHP :</h2>
<div>
	###PHP###
</div>
<h2 id="reportsApache" class="section-header expanded">Apache :</h2>
<div>
	###APACHE###
</div>
<h2 id="reportsMySQL" class="section-header expanded">MySQL :</h2>
<div>
	###MYSQL###
</div>
<h2 id="reportsCrontab" class="section-header expanded">Crontab :</h2>
<div>
	###CRONTAB###
</div>
<!-- ###REPORTS_STATUS### - end -->

<!-- ###TABLESLIST### - begin -->
<table cellspacing="1" cellpadding="2" border="0" class="tx_sv_reportlist typo3-dblist" width="100%">
	<tr class="t3-row-header">
		<td colspan="5">###TITLE###</td>
	</tr>
	<tr class="c-headLine">
		<td class="cell">Name</td>
		<td class="cell">Engine</td>
		<td class="cell">Collation</td>
		<td class="cell">Rows</td>
		<td class="cell">Size (in MB)</td>
	</tr>
	<!-- ###TABLESLIST_OBJECT### - begin -->
	<tr class="db_list_normal">
		<td class="cell">###NAME###</td>
		<td class="cell">###ENGINE###</td>
		<td class="cell">###COLLATION###</td>
		<td class="cell">###ROWS###</td>
		<td class="cell">###SIZE###</td>
	</tr>
	<!-- ###TABLESLIST_OBJECT### - end -->
	<tr class="t3-row-header">
		<td class="cell" colspan="4">Total</td>
		<td>###TOTALSIZE### MB</td>
	</tr>
</table>
<!-- ###TABLESLIST### - end -->
