<table cellspacing="1" cellpadding="2" border="0" class="table table-striped table-hover">
    <thead>
    <tr>
        <th colspan="5">
            <f:translate key="LLL:EXT:additional_reports/Resources/Private/Language/locallang.xlf:clikeys_description"/>
        </th>
    </tr>
    <tr>
        <th>&nbsp;</th>
        <th>
            <f:translate key="LLL:EXT:additional_reports/Resources/Private/Language/locallang.xlf:extension"/>
        </th>
        <th>
            <f:translate key="LLL:EXT:additional_reports/Resources/Private/Language/locallang.xlf:name"/>
        </th>
        <th>
            <f:translate key="LLL:EXT:additional_reports/Resources/Private/Language/locallang.xlf:path"/>
        </th>
        <th>
            <f:translate key="LLL:EXT:additional_reports/Resources/Private/Language/locallang.xlf:user"/>
        </th>
    </tr>
    </thead>
    <f:for each="{clikeys}" as="clikey">
        <tr>
            <td class="col-icon"><img src="{clikey.icon}"/></td>
            <td>{clikey.extension}</td>
            <td>{clikey.name}</td>
            <td>{clikey.path}</td>
            <td>{clikey.user}</td>
        </tr>
    </f:for>
</table>
