<div class="table-fit">
    <table class="table table-striped table-hover table-condensed">
        <thead>
        <tr>
            <th colspan="2">
                <f:translate key="LLL:EXT:additional_reports/Resources/Private/Language/locallang.xlf:commandcontrollersnew_description"/>
            </th>
        </tr>
        <tr>
            <th>Command</th>
            <th>Class</th>
        </tr>
        </thead>
        <tbody>
        <f:for each="{itemsNew}" as="class" key="command">
            <tr>
                <td>{command}</td>
                <td>{class}</td>
            </tr>
        </f:for>
        </tbody>
    </table>
</div>
