<table cellspacing="1" cellpadding="2" border="0" class="table table-striped table-hover">
    <tr>
        <td colspan="2">
            <f:translate key="LLL:EXT:additional_reports/Resources/Private/Language/locallang.xlf:extdirect_description"/>
        </td>
    </tr>
    <tr>
        <td>
            <f:translate key="LLL:EXT:additional_reports/Resources/Private/Language/locallang.xlf:name"/>
        </td>
        <td>
            <f:translate key="LLL:EXT:additional_reports/Resources/Private/Language/locallang.xlf:path"/>
        </td>
    </tr>
    <f:for each="{extdirects}" as="extdirect">
        <tr>
            <td>{extdirect.name}</td>
            <td>
                <f:format.html>{extdirect.path}</f:format.html>
            </td>
        </tr>
    </f:for>
</table>