{namespace ar=Tx_AdditionalReports_ViewHelpers}

<script type="text/javascript">
    Shadowbox.init({displayNav: true, displayCounter: false, overlayOpacity: 0.8});
</script>

<f:if condition="{listExtensionsTer}">
    <table cellspacing="1" cellpadding="2" border="0" class="tx_sv_reportlist typo3-dblist">
        <tr class="t3-row-header">
            <td colspan="13">
                <f:count subject="{listExtensionsTer}"/>
                <f:translate key="LLL:EXT:additional_reports/locallang.xml:extensions_ter"/>
            </td>
        </tr>
        <tr class="c-headLine">
            <td class="cell">&nbsp;</td>
            <td class="cell" width="150" colspan="2">
                <f:translate key="LLL:EXT:additional_reports/locallang.xml:extension"/>
            </td>
            <td class="cell" width="40" style="text-align:center;">
                <f:translate key="LLL:EXT:additional_reports/locallang.xml:status_version"/>
            </td>
            <td class="cell" width="40" style="text-align:center;">
                <f:translate key="LLL:EXT:additional_reports/locallang.xml:versioncheck"/>
            </td>
            <td class="cell" width="40" style="text-align:center;">
                <f:translate key="LLL:EXT:additional_reports/locallang.xml:status_lastversion"/>
            </td>
            <td class="cell" width="40" style="text-align:center;">
                <f:translate key="LLL:EXT:additional_reports/locallang.xml:downloads"/>
            </td>
            <td class="cell" colspan="2" style="text-align:center;">
                <f:translate key="LLL:EXT:additional_reports/locallang.xml:extensions_tables"/>
            </td>
            <td class="cell" width="80" style="text-align:center;">
                <f:translate key="LLL:EXT:additional_reports/locallang.xml:extensions_tablesintegrity"/>
            </td>
            <td class="cell" width="80" style="text-align:center;">
                <f:translate key="LLL:EXT:additional_reports/locallang.xml:extensions_confintegrity"/>
            </td>
            <td class="cell" colspan="2" style="text-align:center;">
                <f:translate key="LLL:EXT:additional_reports/locallang.xml:extensions_files"/>
            </td>
        </tr>
        <f:for each="{listExtensionsTer}" as="extension">
            <tr class="db_list_normal">
                <td class="col-icon"><img src="{extension.icon}"/></td>
                <td class="cell" align="center">{extension.extension}</td>
                <td class="cell" align="center" width="30">
                    <ar:raw>{extension.extensionlink}</ar:raw>
                </td>
                <td class="cell" align="center">{extension.version}</td>
                <td class="cell" align="center">
                    <ar:raw>{extension.versioncheck}</ar:raw>
                </td>
                <td class="cell" align="center">
                    <ar:raw>{extension.versionlast}</ar:raw>
                </td>
                <td class="cell" align="center">{extension.downloads}</td>
                <td class="cell" align="center">{extension.tables}</td>
                <td class="cell" align="center" width="30">
                    <ar:raw>{extension.tableslink}</ar:raw>
                </td>
                <td class="cell" align="center">
                    <ar:raw>{extension.tablesintegrity}</ar:raw>
                </td>
                <td class="cell" align="center">
                    <ar:raw>{extension.confintegrity}</ar:raw>
                </td>
                <td class="cell" align="left">
                    <ar:raw>{extension.files}</ar:raw>
                </td>
                <td class="cell" align="center" width="30">
                    <ar:raw>{extension.fileslink}</ar:raw>
                </td>
            </tr>
        </f:for>
    </table>
</f:if>

<f:if condition="{listExtensionsDev}">
    <table cellspacing="1" cellpadding="2" border="0" class="tx_sv_reportlist typo3-dblist">
        <tr class="t3-row-header">
            <td colspan="15">
                <f:count subject="{listExtensionsDev}"/>
                <f:translate key="LLL:EXT:additional_reports/locallang.xml:extensions_dev"/>
            </td>
        </tr>
        <tr class="c-headLine">
            <td class="cell">&nbsp;</td>
            <td class="cell" width="150" colspan="2">
                <f:translate key="LLL:EXT:additional_reports/locallang.xml:extension"/>
            </td>
            <td class="cell" width="40" style="text-align:center;">
                <f:translate key="LLL:EXT:additional_reports/locallang.xml:status_version"/>
            </td>
            <td class="cell" colspan="2">
                <f:translate key="LLL:EXT:additional_reports/locallang.xml:extensions_tables"/>
            </td>
            <td class="cell" width="80" style="text-align:center;">
                <f:translate key="LLL:EXT:additional_reports/locallang.xml:extensions_tablesintegrity"/>
            </td>
        </tr>
        <f:for each="{listExtensionsDev}" as="extension">
            <tr class="db_list_normal">
                <td class="col-icon"><img src="{extension.icon}"/></td>
                <td class="cell" align="center">{extension.extension}</td>
                <td class="cell" align="center" width="30">
                    <ar:raw>{extension.extensionlink}</ar:raw>
                </td>
                <td class="cell" align="center">{extension.version}</td>
                <td class="cell" align="center">
                    <ar:raw>{extension.tables}</ar:raw>
                </td>
                <td class="cell" align="center" width="30">
                    <ar:raw>{extension.tableslink}</ar:raw>
                </td>
                <td class="cell" align="center">
                    <ar:raw>{extension.tablesintegrity}</ar:raw>
                </td>
            </tr>
        </f:for>
    </table>
</f:if>

<f:if condition="{listExtensionsUnloaded}">
    <table cellspacing="1" cellpadding="2" border="0" class="tx_sv_reportlist typo3-dblist">
        <tr class="t3-row-header">
            <td colspan="15">
                <f:count subject="{listExtensionsUnloaded}"/>
                <f:translate key="LLL:EXT:additional_reports/locallang.xml:extensions_unloaded"/>
            </td>
        </tr>
        <tr class="c-headLine">
            <td class="cell">&nbsp;</td>
            <td class="cell" width="150" colspan="2">
                <f:translate key="LLL:EXT:additional_reports/locallang.xml:extension"/>
            </td>
            <td class="cell" width="40" style="text-align:center;">
                <f:translate key="LLL:EXT:additional_reports/locallang.xml:status_version"/>
            </td>
            <td class="cell" colspan="2">
                <f:translate key="LLL:EXT:additional_reports/locallang.xml:extensions_tables"/>
            </td>
        </tr>
        <f:for each="{listExtensionsUnloaded}" as="extension">
            <tr class="db_list_normal">
                <td class="col-icon"><img src="{extension.icon}"/></td>
                <td class="cell" align="center">{extension.extension}</td>
                <td class="cell" align="center" width="30">
                    <ar:raw>{extension.extensionlink}</ar:raw>
                </td>
                <td class="cell" align="center">{extension.version}</td>
                <td class="cell" align="center">
                    <ar:raw>{extension.tables}</ar:raw>
                </td>
                <td class="cell" align="center" width="30">
                    <ar:raw>{extension.tableslink}</ar:raw>
                </td>
            </tr>
        </f:for>
    </table>
</f:if>