{namespace ar=Sng\AdditionalReports\ViewHelpers}

<script type="text/javascript">
    Shadowbox.init({
        displayNav: true,
        displayCounter: false,
        overlayOpacity: 0.8
    });
</script>

<f:if condition="{composer}">
    <div class="typo3-messages">
        <div class="alert alert-info">
            <div class="media">
                <div class="media-left"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-info fa-stack-1x"></i></span></div>
                <div class="media-body">
                    <h4 class="alert-title">
                        <f:translate key="LLL:EXT:additional_reports/Resources/Private/Language/locallang.xlf:composer_mode"/>
                    </h4>
                    <p class="alert-message">
                        <f:translate key="LLL:EXT:additional_reports/Resources/Private/Language/locallang.xlf:composer_mode.desc"/>
                    </p>
                </div>
            </div>
        </div>
    </div>
</f:if>

<f:if condition="{listExtensionsTer}">
    <div class="table-fit">
        <table class="table table-striped table-hover table-condensed">
            <thead>
            <tr>
                <th colspan="8">
                    <f:count subject="{listExtensionsTer}"/>
                    <f:translate key="LLL:EXT:additional_reports/Resources/Private/Language/locallang.xlf:extensions_ter"/>
                </th>
            </tr>
            <tr>
                <th>&nbsp;</th>
                <th>
                    <f:translate key="LLL:EXT:additional_reports/Resources/Private/Language/locallang.xlf:extension"/>
                </th>
                <th>
                    <f:translate key="LLL:EXT:additional_reports/Resources/Private/Language/locallang.xlf:status_version"/>
                </th>
                <th>
                    <f:translate key="LLL:EXT:additional_reports/Resources/Private/Language/locallang.xlf:status_lastversion"/>
                </th>
                <th colspan="2">
                    <f:translate key="LLL:EXT:additional_reports/Resources/Private/Language/locallang.xlf:extensions_tables"/>
                </th>
                <th>
                    <f:translate key="LLL:EXT:additional_reports/Resources/Private/Language/locallang.xlf:extensions_confintegrity"/>
                </th>
                <th>
                    <f:translate key="LLL:EXT:additional_reports/Resources/Private/Language/locallang.xlf:extensions_files"/>
                </th>
            </tr>
            </thead>
            <tbody>
            <f:for each="{listExtensionsTer}" as="extension">
                <tr>
                    <td class="col-icon"><img class="ext-icon" src="{extension.icon}"/></td>
                    <td>{extension.extension}</td>
                    <td>{extension.version}</td>
                    <td>
                        <f:format.raw>{extension.versionlast}</f:format.raw>
                    </td>
                    <td>{extension.tables}</td>
                    <td>
                        <f:format.raw>{extension.tableslink}</f:format.raw>
                    </td>
                    <td>
                        <f:format.raw>{extension.confintegrity}</f:format.raw>
                    </td>
                    <td>
                        <f:format.raw>{extension.versioncompare}</f:format.raw>
                    </td>
                </tr>
            </f:for>
            </tbody>
        </table>
    </div>
</f:if>

<f:if condition="{listExtensionsDev}">
    <div class="table-fit">
        <table class="table table-striped table-hover table-condensed">
            <thead>
            <tr>
                <th colspan="5">
                    <f:count subject="{listExtensionsDev}"/>
                    <f:translate key="LLL:EXT:additional_reports/Resources/Private/Language/locallang.xlf:extensions_dev"/>
                </th>
            </tr>
            <tr>
                <th>&nbsp;</th>
                <th>
                    <f:translate key="LLL:EXT:additional_reports/Resources/Private/Language/locallang.xlf:extension"/>
                </th>
                <th>
                    <f:translate key="LLL:EXT:additional_reports/Resources/Private/Language/locallang.xlf:status_version"/>
                </th>
                <th colspan="2">
                    <f:translate key="LLL:EXT:additional_reports/Resources/Private/Language/locallang.xlf:extensions_tables"/>
                </th>
            </tr>
            </thead>
            <tbody>
            <f:for each="{listExtensionsDev}" as="extension">
                <tr>
                    <td class="col-icon"><img src="{extension.icon}"/></td>
                    <td>{extension.extension}</td>
                    <td>{extension.version}</td>
                    <td>
                        <f:format.raw>{extension.tables}</f:format.raw>
                    </td>
                    <td>
                        <f:format.raw>{extension.tableslink}</f:format.raw>
                    </td>
                </tr>
            </f:for>
            </tbody>
        </table>
    </div>
</f:if>

<f:if condition="{listExtensionsUnloaded}">
    <div class="table-fit">
        <table class="table table-striped table-hover table-condensed">
            <thead>
            <tr>
                <th colspan="5">
                    <f:count subject="{listExtensionsUnloaded}"/>
                    <f:translate key="LLL:EXT:additional_reports/Resources/Private/Language/locallang.xlf:extensions_unloaded"/>
                </th>
            </tr>
            <tr>
                <th>&nbsp;</th>
                <th>
                    <f:translate key="LLL:EXT:additional_reports/Resources/Private/Language/locallang.xlf:extension"/>
                </th>
                <th>
                    <f:translate key="LLL:EXT:additional_reports/Resources/Private/Language/locallang.xlf:status_version"/>
                </th>
                <th colspan="2">
                    <f:translate key="LLL:EXT:additional_reports/Resources/Private/Language/locallang.xlf:extensions_tables"/>
                </th>
            </tr>
            </thead>
            <tbody>
            <f:for each="{listExtensionsUnloaded}" as="extension">
                <tr>
                    <td class="col-icon"><img src="{extension.icon}"/></td>
                    <td>{extension.extension}</td>
                    <td>{extension.version}</td>
                    <td>
                        <f:format.raw>{extension.tables}</f:format.raw>
                    </td>
                    <td>
                        <f:format.raw>{extension.tableslink}</f:format.raw>
                    </td>
                </tr>
            </f:for>
            </tbody>
        </table>
    </div>
</f:if>
