{namespace ar=Sng\AdditionalReports\ViewHelpers}

<f:if condition="{hooks.core}">
    <table cellspacing="1" cellpadding="2" border="0" class="table table-striped table-hover">
        <thead>
        <tr>
            <th colspan="3">
                <f:translate key="LLL:EXT:additional_reports/Resources/Private/Language/locallang.xlf:hooks_core"/>
            </th>
        </tr>
        <tr>
            <th>
                <f:translate key="LLL:EXT:additional_reports/Resources/Private/Language/locallang.xlf:hooks_corefile"/>
            </th>
            <th>
                <f:translate key="LLL:EXT:additional_reports/Resources/Private/Language/locallang.xlf:hooks_name"/>
            </th>
            <th>
                <f:translate key="LLL:EXT:additional_reports/Resources/Private/Language/locallang.xlf:hooks_file"/>
            </th>
        </tr>
        </thead>
        <tbody>
        <f:for each="{hooks.core}" as="hook">
            <tr>
                <td>{hook.corefile}</td>
                <td>{hook.name}</td>
                <td>
                    <f:format.raw>{hook.file}</f:format.raw>
                </td>
            </tr>
        </f:for>
        </tbody>
    </table>
</f:if>

<f:if condition="{hooks.extensions}">
    <table cellspacing="1" cellpadding="2" border="0" class="table table-striped table-hover">
        <thead>
        <tr>
            <th colspan="3">
                <f:translate key="LLL:EXT:additional_reports/Resources/Private/Language/locallang.xlf:hooks_extension"/>
            </th>
        </tr>
        <tr>
            <th>
                <f:translate key="LLL:EXT:additional_reports/Resources/Private/Language/locallang.xlf:extension"/>
            </th>
            <th>
                <f:translate key="LLL:EXT:additional_reports/Resources/Private/Language/locallang.xlf:hooks_name"/>
            </th>
            <th>
                <f:translate key="LLL:EXT:additional_reports/Resources/Private/Language/locallang.xlf:hooks_file"/>
            </th>
        </tr>
        </thead>
        <tbody>
        <f:for each="{hooks.extensions}" as="hook">
            <tr>
                <td>{hook.corefile}</td>
                <td>{hook.name}</td>
                <td>
                    <f:format.raw>{hook.file}</f:format.raw>
                </td>
            </tr>
        </f:for>
        </tbody>
    </table>
</f:if>