<f:cache.disable />
<f:asset.script identifier="additional-reports-plugins" csp="true">
    document.addEventListener('DOMContentLoaded', () => {
        document.querySelectorAll('#choice-display input[name="display"]').forEach((input) => {
            input.addEventListener('click', () => {
                window.location.href = input.dataset.url;
            });
        });

        document.querySelector('#filtersCat')?.addEventListener('change', (event) => {
            window.location.href = event.currentTarget.dataset.url + '&filtersCat=' + event.currentTarget.value;
        });
    });
</f:asset.script>

<table class="table table-striped table-hover">
    <tbody>
    <tr>
        <td class="notice col-xs-6">
            <f:translate key="LLL:EXT:additional_reports/Resources/Private/Language/locallang.xlf:careful"/>
        </td>
        <td class="notice col-xs-6">
            <f:translate key="LLL:EXT:additional_reports/Resources/Private/Language/locallang.xlf:carefuldesc"/>
        </td>
    </tr>
    </tbody>
</table>

<fieldset id="choice-display" class="additional-reports-view-selector">
    <div class="additional-reports-view-options">
        <div class="form-check">
            <input class="form-check-input" data-url="{f:be.uri(route:paginationRoute,parameters:{display:4,action:'detail',extension:'additional_reports',report:reportname})}" type="radio" name="display" value="1" id="radio4" checked="{checkedpluginsmode4}"/>
            <label class="form-check-label" for="radio4">
                <f:translate key="LLL:EXT:additional_reports/Resources/Private/Language/locallang.xlf:pluginsmode4"/>
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" data-url="{f:be.uri(route:paginationRoute,parameters:{display:6,action:'detail',extension:'additional_reports',report:reportname})}" type="radio" name="display" value="1" id="radio6" checked="{checkedpluginsmode6}"/>
            <label class="form-check-label" for="radio6">
                <f:translate key="LLL:EXT:additional_reports/Resources/Private/Language/locallang.xlf:pluginsmode4hidden"/>
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" data-url="{f:be.uri(route:paginationRoute,parameters:{display:3,action:'detail',extension:'additional_reports',report:reportname})}" type="radio" name="display" value="1" id="radio3" checked="{checkedpluginsmode3}"/>
            <label class="form-check-label" for="radio3">
                <f:translate key="LLL:EXT:additional_reports/Resources/Private/Language/locallang.xlf:pluginsmode3"/>
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" data-url="{f:be.uri(route:paginationRoute,parameters:{display:7,action:'detail',extension:'additional_reports',report:reportname})}" type="radio" name="display" value="1" id="radio7" checked="{checkedpluginsmode7}"/>
            <label class="form-check-label" for="radio7">
                <f:translate key="LLL:EXT:additional_reports/Resources/Private/Language/locallang.xlf:pluginsmode3hidden"/>
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" data-url="{f:be.uri(route:paginationRoute,parameters:{display:5,action:'detail',extension:'additional_reports',report:reportname})}" type="radio" name="display" value="1" id="radio5" checked="{checkedpluginsmode5}"/>
            <label class="form-check-label" for="radio5">
                <f:translate key="LLL:EXT:additional_reports/Resources/Private/Language/locallang.xlf:pluginsmode5"/>
            </label>
        </div>
    </div>
</fieldset>

<!-- summary -->

<f:if condition="{display} == 5">
    <div class="table-fit">
        <table class="table table-striped table-hover table-condensed">
            <thead>
            <tr>
                <th colspan="4">
                    <f:translate key="LLL:EXT:additional_reports/Resources/Private/Language/locallang.xlf:pluginsmode5"/>
                </th>
            </tr>
            <tr>
                <th>&nbsp;</th>
                <th>
                    <f:translate key="LLL:EXT:additional_reports/Resources/Private/Language/locallang.xlf:content"/>
                </th>
                <th>
                    <f:translate key="LLL:EXT:additional_reports/Resources/Private/Language/locallang.xlf:references"/>
                </th>
                <th>%</th>
            </tr>
            </thead>
            <tbody>
            <f:for each="{items}" as="item">
                <tr>
                    <td class="col-icon"><img src="{item.iconext}"/></td>
                    <td>{item.content}</td>
                    <td>{item.references}</td>
                    <td>{item.pourc}%</td>
                </tr>
            </f:for>
            </tbody>
        </table>
    </div>
</f:if>

<!-- ctype -->
<f:if condition="{showCtypes}">
    <f:render partial="FilterSelect" arguments="{_all}"/>
        <div class="table-fit">
            <table class="table table-striped table-hover table-condensed">
                <thead>
                <tr>
                    <th colspan="9">
                        <f:translate key="LLL:EXT:additional_reports/Resources/Private/Language/locallang.xlf:pluginsmode3"/>
                    </th>
                </tr>
                <tr>
                    <th>&nbsp;</th>
                    <th>
                        <f:translate key="LLL:EXT:additional_reports/Resources/Private/Language/locallang.xlf:ctype"/>
                    </th>
                    <th>
                        <f:translate key="LLL:EXT:additional_reports/Resources/Private/Language/locallang.xlf:domain"/>
                    </th>
                    <th>
                        <f:translate key="LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:labels.pid"/>
                    </th>
                    <th>
                        <f:translate key="LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:labels.uid"/>
                    </th>
                    <th>
                        <f:translate key="LLL:EXT:additional_reports/Resources/Private/Language/locallang.xlf:pagetitle"/>
                    </th>
                    <th>
                        <f:translate key="LLL:EXT:backend/Resources/Private/Language/Modules/list.xlf:title"/>
                    </th>
                    <th>
                        <f:translate key="LLL:EXT:backend/Resources/Private/Language/Modules/layout.xlf:title"/>
                    </th>
                    <th>
                        <f:translate key="LLL:EXT:additional_reports/Resources/Private/Language/locallang.xlf:preview"/>
                    </th>
                </tr>
                </thead>
                <tbody>
                <f:for each="{paginator.paginatedItems}" as="item">
                    <tr>
                        <td class="col-icon"><img src="{item.iconext}"/></td>
                        <td>{item.ctype}</td>
                        <f:render partial="ContentInfoCells" arguments="{item:item}"/>
                        <td>
                            <a href="{item.preview}" target="_blank" class="btn btn-default">
                                <core:icon identifier="actions-version-workspace-preview"/>
                            </a>
                        </td>
                    </tr>
                </f:for>
            </tbody>
        </table>
    </div>

    <f:render partial="Pagination" arguments="{_all}"/>
</f:if>

<!-- plugins -->

<f:if condition="{showPlugins}">
        <f:render partial="FilterSelect" arguments="{_all}"/>
        <div class="table-fit">
            <table class="table table-striped table-hover table-condensed">
                <thead>
                <tr>
                    <th colspan="10">
                        <f:translate key="LLL:EXT:additional_reports/Resources/Private/Language/locallang.xlf:pluginsmode4"/>
                    </th>
                </tr>
                <tr>
                    <th>&nbsp;</th>
                    <th>
                        <f:translate key="LLL:EXT:additional_reports/Resources/Private/Language/locallang.xlf:extension"/>
                    </th>
                    <th>
                        <f:translate key="LLL:EXT:additional_reports/Resources/Private/Language/locallang.xlf:plugin"/>
                    </th>
                    <th>
                        <f:translate key="LLL:EXT:additional_reports/Resources/Private/Language/locallang.xlf:domain"/>
                    </th>
                    <th>
                        <f:translate key="LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:labels.pid"/>
                    </th>
                    <th>
                        <f:translate key="LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:labels.uid"/>
                    </th>
                    <th>
                        <f:translate key="LLL:EXT:additional_reports/Resources/Private/Language/locallang.xlf:pagetitle"/>
                    </th>
                    <th>
                        <f:translate key="LLL:EXT:backend/Resources/Private/Language/Modules/list.xlf:title"/>
                    </th>
                    <th>
                        <f:translate key="LLL:EXT:backend/Resources/Private/Language/Modules/layout.xlf:title"/>
                    </th>
                    <th>
                        <f:translate key="LLL:EXT:additional_reports/Resources/Private/Language/locallang.xlf:preview"/>
                    </th>
                </tr>
                </thead>
                <tbody>
                <f:for each="{paginator.paginatedItems}" as="item">
                    <tr>
                        <td class="col-icon"><img src="{item.iconext}"/></td>
                        <td>{item.extension}</td>
                        <td>{item.plugin}</td>
                        <f:render partial="ContentInfoCells" arguments="{item:item}"/>
                        <td>
                            <a href="{item.preview}" target="_blank" class="btn btn-default">
                                <core:icon identifier="actions-version-workspace-preview"/>
                            </a>
                        </td>
                    </tr>
                </f:for>
            </tbody>
        </table>
    </div>

    <f:render partial="Pagination" arguments="{_all}"/>
</f:if>



