{namespace ar=Sng\AdditionalReports\ViewHelpers}

<f:cache.disable />

<f:format.raw>{caution}</f:format.raw>

<table id="choice-display">
    <tr>
        <td>
            <input data-url="{url}&display=4" style="margin-right:4px;" type="radio" name="display" value="1" id="radio4" {checkedpluginsmode4}/>
            <label for="radio4" style="margin-right:10px;">
                <f:translate key="LLL:EXT:additional_reports/Resources/Private/Language/locallang.xlf:pluginsmode4"/>
            </label>
        </td>
        <td>
            <input data-url="{url}&display=6" style="margin-right:4px;" type="radio" name="display" value="1" id="radio6" {checkedpluginsmode6}/>
            <label for="radio6" style="margin-right:10px;">
                <f:translate key="LLL:EXT:additional_reports/Resources/Private/Language/locallang.xlf:pluginsmode4hidden"/>
            </label>
        </td>
    </tr>
    <tr>
        <td>
            <input data-url="{url}&display=3" style="margin-right:4px;" type="radio" name="display" value="1" id="radio3" {checkedpluginsmode3}/>
            <label for="radio3" style="margin-right:10px;">
                <f:translate key="LLL:EXT:additional_reports/Resources/Private/Language/locallang.xlf:pluginsmode3"/>
            </label>
        </td>
        <td>
            <input data-url="{url}&display=7" style="margin-right:4px;" type="radio" name="display" value="1" id="radio7" {checkedpluginsmode7}/>
            <label for="radio7" style="margin-right:10px;">
                <f:translate key="LLL:EXT:additional_reports/Resources/Private/Language/locallang.xlf:pluginsmode3hidden"/>
            </label>
        </td>
    </tr>
    <tr>
        <td>
            <input data-url="{url}&display=5" style="margin-right:4px;" type="radio" name="display" value="1" id="radio5" {checkedpluginsmode5}/>
            <label for="radio5" style="margin-right:10px;">
                <f:translate key="LLL:EXT:additional_reports/Resources/Private/Language/locallang.xlf:pluginsmode5"/>
            </label>
        </td>
    </tr>
</table>
<div class="uppercase" style="margin-bottom:5px;"></div>

<!-- summary -->

<f:if condition="{display} == 5">
    <div class="table-fit">
        <table class="table table-striped table-hover table-condensed">
            <thead>
            <tr>
                <th colspan="4">
                    <f:translate key="LLL:EXT:additional_reports/Resources/Private/Language/locallang.xlf:pluginsmode5"/>
                </th>
            </tr>
            <tr>
                <th>&nbsp;</th>
                <th>
                    <f:translate key="LLL:EXT:additional_reports/Resources/Private/Language/locallang.xlf:content"/>
                </th>
                <th>
                    <f:translate key="LLL:EXT:additional_reports/Resources/Private/Language/locallang.xlf:references"/>
                </th>
                <th>%</th>
            </tr>
            </thead>
            <tbody>
            <f:for each="{items}" as="item">
                <tr>
                    <td class="col-icon"><img src="{item.iconext}"/></td>
                    <td>{item.content}</td>
                    <td>{item.references}</td>
                    <td>{item.pourc}%</td>
                </tr>
            </f:for>
            </tbody>
        </table>
    </div>
</f:if>

<!-- ctype -->
<ar:inList item="{display}" list="3,7">
    <f:format.raw>{filtersCat}</f:format.raw>
        <div class="table-fit">
            <table class="table table-striped table-hover table-condensed">
                <thead>
                <tr>
                    <th colspan="9">
                        <f:translate key="LLL:EXT:additional_reports/Resources/Private/Language/locallang.xlf:pluginsmode3"/>
                    </th>
                </tr>
                <tr>
                    <th>&nbsp;</th>
                    <th>
                        <f:translate key="LLL:EXT:additional_reports/Resources/Private/Language/locallang.xlf:ctype"/>
                    </th>
                    <th>
                        <f:translate key="LLL:EXT:additional_reports/Resources/Private/Language/locallang.xlf:domain"/>
                    </th>
                    <th>
                        <f:translate key="LLL:EXT:additional_reports/Resources/Private/Language/locallang.xlf:pid"/>
                    </th>
                    <th>
                        <f:translate key="LLL:EXT:additional_reports/Resources/Private/Language/locallang.xlf:uid"/>
                    </th>
                    <th>
                        <f:translate key="LLL:EXT:additional_reports/Resources/Private/Language/locallang.xlf:pagetitle"/>
                    </th>
                    <th>DB mode</th>
                    <f:if condition="{tvused}">
                        <f:then>
                            <th>Page TV</th>
                            <th>
                                <f:translate key="LLL:EXT:additional_reports/Resources/Private/Language/locallang.xlf:tvused"/>
                            </th>
                        </f:then>
                        <f:else>
                            <th>Page</th>
                        </f:else>
                    </f:if>
                    <th>
                        <f:translate key="LLL:EXT:additional_reports/Resources/Private/Language/locallang.xlf:preview"/>
                    </th>
                </tr>
                </thead>
                <tbody>
                <f:for each="{paginator.paginatedItems}" as="item">
                    <ar:contentInfos item="{item}" as="item" ctype="TRUE"/>
                    <tr>
                        <td class="col-icon"><img src="{item.iconext}"/></td>
                        <td>{item.ctype}</td>
                        <td>
                            <f:format.raw>{item.domain}</f:format.raw>
                        </td>
                        <td>
                            <f:format.raw>{item.pid}</f:format.raw>
                        </td>
                        <td>
                            <f:format.raw>{item.uid}</f:format.raw>
                        </td>
                        <td>{item.pagetitle}</td>
                        <td>
                            <f:format.raw>{item.db}</f:format.raw>
                        </td>
                        <td>
                            <f:format.raw>{item.page}</f:format.raw>
                        </td>
                        <f:if condition="{tvused}">
                            <td>{item.usedtv}</td>
                        </f:if>
                        <td>
                            <a href="{item.preview}" target="_blank" class="btn btn-default">
                                <core:icon identifier="actions-version-workspace-preview"/>
                            </a>
                        </td>
                    </tr>
                </f:for>
            </tbody>
        </table>
    </div>

    <f:render partial="Pagination" arguments="{_all}"/>
</ar:inList>

<!-- plugins -->

<ar:inList item="{display}" list="4,6">
        <f:format.raw>{filtersCat}</f:format.raw>
        <div class="table-fit">
            <table class="table table-striped table-hover table-condensed">
                <thead>
                <tr>
                    <th colspan="10">
                        <f:translate key="LLL:EXT:additional_reports/Resources/Private/Language/locallang.xlf:pluginsmode4"/>
                    </th>
                </tr>
                <tr>
                    <th>&nbsp;</th>
                    <th>
                        <f:translate key="LLL:EXT:additional_reports/Resources/Private/Language/locallang.xlf:extension"/>
                    </th>
                    <th>
                        <f:translate key="LLL:EXT:additional_reports/Resources/Private/Language/locallang.xlf:plugin"/>
                    </th>
                    <th>
                        <f:translate key="LLL:EXT:additional_reports/Resources/Private/Language/locallang.xlf:domain"/>
                    </th>
                    <th>
                        <f:translate key="LLL:EXT:additional_reports/Resources/Private/Language/locallang.xlf:pid"/>
                    </th>
                    <th>
                        <f:translate key="LLL:EXT:additional_reports/Resources/Private/Language/locallang.xlf:uid"/>
                    </th>
                    <th>
                        <f:translate key="LLL:EXT:additional_reports/Resources/Private/Language/locallang.xlf:pagetitle"/>
                    </th>
                    <th>DB mode</th>
                    <f:if condition="{tvused}">
                        <f:then>
                            <th>Page TV</th>
                            <th>
                                <f:translate key="LLL:EXT:additional_reports/Resources/Private/Language/locallang.xlf:tvused"/>
                            </th>
                        </f:then>
                        <f:else>
                            <th>Page</th>
                        </f:else>
                    </f:if>
                    <th>
                        <f:translate key="LLL:EXT:additional_reports/Resources/Private/Language/locallang.xlf:preview"/>
                    </th>
                </tr>
                </thead>
                <tbody>
                <f:for each="{paginator.paginatedItems}" as="item">
                    <ar:contentInfos item="{item}" as="item" plugin="TRUE"/>
                    <tr>
                        <td class="col-icon"><img src="{item.iconext}"/></td>
                        <td>{item.extension}</td>
                        <td>{item.plugin}</td>
                        <td>
                            <f:format.raw>{item.domain}</f:format.raw>
                        </td>
                        <td>
                            <f:format.raw>{item.pid}</f:format.raw>
                        </td>
                        <td>
                            <f:format.raw>{item.uid}</f:format.raw>
                        </td>
                        <td>{item.pagetitle}</td>
                        <td>
                            <f:format.raw>{item.db}</f:format.raw>
                        </td>
                        <td>
                            <f:format.raw>{item.page}</f:format.raw>
                        </td>
                        <f:if condition="{tvused}">
                            <td>{item.usedtv}</td>
                        </f:if>
                        <td>
                            <a href="{item.preview}" target="_blank" class="btn btn-default">
                                <core:icon identifier="actions-version-workspace-preview"/>
                            </a>
                        </td>
                    </tr>
                </f:for>
            </tbody>
        </table>
    </div>

    <f:render partial="Pagination" arguments="{_all}"/>
</ar:inList>

<f:asset.script type="text/javascript" identifier="additionalreports">
    function jumpToUrl (URL) {
    window.location.href = URL;
    }

    document.querySelectorAll("#choice-display input[name='display']").forEach(function (input) {
    input.addEventListener("click", function () {
    jumpToUrl(this.dataset.url);
    });
    });

    if ( document.getElementById("filtersCat")) {
    document.getElementById("filtersCat").addEventListener("change", function () {
    jumpToUrl(this.dataset.url + "&filtersCat=" + this.value);
    });
    }

</f:asset.script>



