{namespace ar=Tx_AdditionalReports_ViewHelpers}

<h2 id="reportsTypo3" class="section-header expanded">TYPO3 :</h2>
<div>
    <ar:raw>{typo3}</ar:raw>
</div>
<h2 id="reportsPHP" class="section-header expanded">PHP :</h2>
<div>
    <ar:raw>{php}</ar:raw>
</div>
<h2 id="reportsApache" class="section-header expanded">Apache :</h2>
<div>
    <ar:raw>{apache}</ar:raw>
</div>
<h2 id="reportsMySQL" class="section-header expanded">MySQL :</h2>
<div>
    <ar:raw>{mysql}</ar:raw>
    <table cellspacing="1" cellpadding="2" border="0" class="tx_sv_reportlist typo3-dblist" width="100%">
        <tr class="t3-row-header">
            <td colspan="5">{typo3db} -
                <f:count subject="{tables}"/>
                tables
            </td>
        </tr>
        <tr class="c-headLine">
            <td class="cell">Name</td>
            <td class="cell">Engine</td>
            <td class="cell">Collation</td>
            <td class="cell">Rows</td>
            <td class="cell">Size (in MB)</td>
        </tr>
        <f:for each="{tables}" as="table">
            <tr class="db_list_normal">
                <td class="cell">{table.name}</td>
                <td class="cell">{table.engine}</td>
                <td class="cell">{table.collation}</td>
                <td class="cell">{table.rows}</td>
                <td class="cell">{table.size}</td>
            </tr>
        </f:for>
        <tr class="t3-row-header">
            <td class="cell" colspan="4">Total</td>
            <td>{tablessize} MB</td>
        </tr>
    </table>
</div>
<h2 id="reportsCrontab" class="section-header expanded">Crontab :</h2>
<div>
    <ar:raw>{crontab}</ar:raw>
</div>




