{namespace ar=Sng\AdditionalReports\ViewHelpers}

<h2 id="reportsTypo3" class="section-header expanded">TYPO3 :</h2>
<div>
    <f:format.raw>{typo3}</f:format.raw>
</div>
<h2 id="reportsgetIndpEnv" class="section-header expanded">DEBUG :</h2>
<div>
    <f:format.raw>{getIndpEnv}</f:format.raw>
</div>
<h2 id="reportsPHP" class="section-header expanded">PHP :</h2>
<div>
    <f:format.raw>{php}</f:format.raw>
</div>
<h2 id="reportsApache" class="section-header expanded">Apache :</h2>
<div>
    <f:format.raw>{apache}</f:format.raw>
</div>
<h2 id="reportsMySQL" class="section-header expanded">MySQL :</h2>
<div>
    <f:format.raw>{mysql}</f:format.raw>
    <div class="table-fit">
        <table class="table table-striped table-hover table-condensed">
            <thead>
            <tr>
                <th colspan="5">{typo3db} -
                    <f:count subject="{tables}"/>
                    tables
                </th>
            </tr>
            <tr>
                <th>Name</th>
                <th>Engine</th>
                <th>Collation</th>
                <th>Rows</th>
                <th>Size (in MB)</th>
            </tr>
            </thead>
            <tbody>
            <f:for each="{tables}" as="table">
                <tr>
                    <td>{table.name}</td>
                    <td>{table.engine}</td>
                    <td>{table.collation}</td>
                    <td>{table.rows}</td>
                    <td>{table.size}</td>
                </tr>
            </f:for>
            <tr>
                <td colspan="4">Total</td>
                <td>{tablessize} MB</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<h2 id="reportsCrontab" class="section-header expanded">Crontab :</h2>
<div>
    <f:format.raw>{crontab}</f:format.raw>
</div>




