{namespace ar=Sng\AdditionalReports\ViewHelpers}

<table cellspacing="1" cellpadding="2" border="0" class="table table-striped table-hover">
    <thead>
    <tr>
        <th colspan="8">
            <f:translate key="LLL:EXT:additional_reports/Resources/Private/Language/locallang.xlf:websitesconf_description"/>
        </th>
    </tr>
    <tr>
        <th>
            <f:translate key="LLL:EXT:additional_reports/Resources/Private/Language/locallang.xlf:pid"/>
        </th>
        <th>
            <f:translate key="LLL:EXT:additional_reports/Resources/Private/Language/locallang.xlf:pagetitle"/>
        </th>
        <th>
            <f:translate key="LLL:EXT:additional_reports/Resources/Private/Language/locallang.xlf:domains"/>
        </th>
        <th>sys_template</th>
        <th>config.baseURL</th>
        <th>pages</th>
        <th>pages.hidden</th>
        <th>pages.no_search</th>
    </tr>
    </thead>
    <tbody>
    <f:for each="{items}" as="item">
        <tr>
            <td>{item.pid}</td>
            <td>
                <f:format.raw>{item.pagetitle}</f:format.raw>
            </td>
            <td>
                <f:format.raw>{item.domains}</f:format.raw>
            </td>
            <td>
                <f:format.raw>{item.template}</f:format.raw>
            </td>
            <td>{item.baseurl}</td>
            <td>{item.pages}</td>
            <td>{item.pageshidden}</td>
            <td>{item.pagesnosearch}</td>
        </tr>
    </f:for>
    </tbody>
</table>
