{namespace ar=Tx_AdditionalReports_ViewHelpers}

<table cellspacing="1" cellpadding="2" border="0" class="tx_sv_reportlist typo3-dblist">
    <tr class="t3-row-header">
        <td colspan="8">
            <f:translate key="LLL:EXT:additional_reports/locallang.xml:websitesconf_description"/>
        </td>
    </tr>
    <tr class="c-headLine">
        <td class="cell">
            <f:translate key="LLL:EXT:additional_reports/locallang.xml:pid"/>
        </td>
        <td class="cell">
            <f:translate key="LLL:EXT:additional_reports/locallang.xml:pagetitle"/>
        </td>
        <td class="cell">
            <f:translate key="LLL:EXT:additional_reports/locallang.xml:domains"/>
        </td>
        <td class="cell">sys_template</td>
        <td class="cell">config.baseURL</td>
        <td class="cell">pages</td>
        <td class="cell">pages.hidden</td>
        <td class="cell">pages.no_search</td>
    </tr>
    <f:for each="{items}" as="item">
        <tr class="db_list_normal">
            <td class="cell">{item.pid}</td>
            <td class="cell">
                <ar:raw>{item.pagetitle}</ar:raw>
            </td>
            <td class="cell">
                <ar:raw>{item.domains}</ar:raw>
            </td>
            <td class="cell">
                <ar:raw>{item.template}</ar:raw>
            </td>
            <td class="cell">{item.baseurl}</td>
            <td class="cell">{item.pages}</td>
            <td class="cell">{item.pageshidden}</td>
            <td class="cell">{item.pagesnosearch}</td>
        </tr>
    </f:for>
</table>
